services:
  streamlit:
    build: ./app
    container_name: streamlit_app
    ports:
      - "80:8501"
    volumes:
      - ./app:/app
    restart: unless-stopped

  adminer:
        image: adminer
        ports:
            - 9090:8080
        depends_on:
        - db
        
  db:
    image: postgres:16
    ports:
        - 5432:5432
    volumes:
        - .docker/db/data:/var/lib/postgresql/data
        - .docker/db/sql:/docker-entrypoint-initdb.d
    environment:
        - POSTGRES_USER=streamlit
        - POSTGRES_PASSWORD=secret
        - POSTGRES_DB=streamlit_db